###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
jupyterlab
jupyter-server-proxy
jupyter-vscode-proxy

###############################################################
#          /jupyter/jupyterlab extensions/kernels              #
###############################################################

pymongo
imongo-kernel
pprintpp
